<div class="bg-wtsp">
<div class="row container-fluid pt-3 pb-4 ">
    <div class="col container pt-3 d-flex justify-content-center ">

    <div class="w-full max-w-xs ">
        <p class="fs-2 text-center fw-bold text-warning fw-rapa pt-3">REALIZA TU PEDIDO</p>

        <div class="col  container-fluid text-center justify-content-center pb-2 " >

          <div class="card shadow p-3"> 
              <p> Recuerda ser lo mas claro posible cuando gestiones tu pedido.</p>
              <p> Luego de enviar tu pedido, aguarda en linea por favor.</p>
              <p> <b>Zonas de envios:</b>  Capital, Santa Lucia y Rivadavia.</p>
              
          </div>
          
          
          </div>
        
        <form *ngIf="pedidoListo!=true" (ngSumbit)="onSumbit()" [formGroup]="registerForm" id="form"  class="bg-white shadow-md rounded px-8 mt-4 pt-3 pb-3 mb-4 container-fluid ">
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2 d-flex fw-bold " for="name">
                    Nombre y Apellido
                </label>
                <input
                    class="form-control  shadow appearance-none cuadro border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    formControlName="name" [ngClass]="{ 'is-invalid':  form.name.errors }"  id="name" type="text" placeholder="Ingresa tu nombre" required>
            </div>

            <div *ngIf="form.name.errors" class="invalid-deedback">
                <div *ngIf="form.name.errors.required"> <div class="alert alert-success d-flex align-items-center"  role="alert">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-octagon m-1 " viewBox="0 0 16 16">
                        <path d="M4.54.146A.5.5 0 0 1 4.893 0h6.214a.5.5 0 0 1 .353.146l4.394 4.394a.5.5 0 0 1 .146.353v6.214a.5.5 0 0 1-.146.353l-4.394 4.394a.5.5 0 0 1-.353.146H4.893a.5.5 0 0 1-.353-.146L.146 11.46A.5.5 0 0 1 0 11.107V4.893a.5.5 0 0 1 .146-.353L4.54.146zM5.1 1 1 5.1v5.8L5.1 15h5.8l4.1-4.1V5.1L10.9 1H5.1z"/>
                        <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                      </svg>
                    <div>
                      Campo obligatorio
                    </div>
                  </div> </div>

            </div>

            <div class="form-check">
              <input (click)="Delivery()" class="form-check-input " type="radio" name="flexRadioDefault2" id="flexRadioDefault1" checked>
              <label class="form-check-label" for="flexRadioDefault1">
                Delivery
              </label>
            </div>
            <div class="form-check">
              <input (click)="TakeAway()" class="form-check-input" type="radio" name="flexRadioDefault2" id="flexRadioDefault2" >
              <label class="form-check-label" for="flexRadioDefault2">
                Take away (Retiro por local)
              </label>
            </div>

            <div *ngIf="delivery">
            <div class="mb-4" >
                <label class="block text-gray-700 text-sm font-bold mb-2 d-flex fw-bold" for="direccion">
                    Direccion (al terminar el pedido, enviar ubicación)
                </label>
                <input
                    class=" form-control shadow appearance-none border cuadro rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    formControlName="direccion" [ngClass]="{ 'is-invalid':  form.direccion.errors }"  id="dir" type="text" placeholder="Ingresa tu direccion" required>
            </div>

             <div *ngIf="form.direccion.errors" class="invalid-deedback">
                <div *ngIf="form.direccion.errors.required"> <div class="alert alert-success d-flex align-items-center"  role="alert">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-octagon m-1 " viewBox="0 0 16 16">
                        <path d="M4.54.146A.5.5 0 0 1 4.893 0h6.214a.5.5 0 0 1 .353.146l4.394 4.394a.5.5 0 0 1 .146.353v6.214a.5.5 0 0 1-.146.353l-4.394 4.394a.5.5 0 0 1-.353.146H4.893a.5.5 0 0 1-.353-.146L.146 11.46A.5.5 0 0 1 0 11.107V4.893a.5.5 0 0 1 .146-.353L4.54.146zM5.1 1 1 5.1v5.8L5.1 15h5.8l4.1-4.1V5.1L10.9 1H5.1z"/>
                        <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                      </svg>
                    <div>
                     Campo obligatorio
                    </div>
                  </div> 
                </div>

            </div> 
          </div>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2 d-flex fw-bold " for="name">
                    Telefono
                </label>
                <input
                    class="form-control  shadow appearance-none cuadro border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    formControlName="tel" [ngClass]="{ 'is-invalid':  form.tel.errors }"  id="tel" type="text" placeholder="Ingresa tu telefono" required>
            </div>

            <div *ngIf="form.tel.errors" class="invalid-deedback">
                <div *ngIf="form.tel.errors.required"> <div class="alert alert-success d-flex align-items-center"  role="alert">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-octagon m-1 " viewBox="0 0 16 16">
                        <path d="M4.54.146A.5.5 0 0 1 4.893 0h6.214a.5.5 0 0 1 .353.146l4.394 4.394a.5.5 0 0 1 .146.353v6.214a.5.5 0 0 1-.146.353l-4.394 4.394a.5.5 0 0 1-.353.146H4.893a.5.5 0 0 1-.353-.146L.146 11.46A.5.5 0 0 1 0 11.107V4.893a.5.5 0 0 1 .146-.353L4.54.146zM5.1 1 1 5.1v5.8L5.1 15h5.8l4.1-4.1V5.1L10.9 1H5.1z"/>
                        <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                      </svg>
                    <div>
                     Campo obligatorio
                    </div>
                  </div> </div>

            </div> 
            
            <div class="text-danger" *ngIf="registerForm.controls['tel'].hasError('required')">
              Este campo es requerido
            </div>

            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2 d-flex fw-bold" for="name">
                    Pedido
                </label>
                <textarea
                    class="form-control shadow appearance-none border cuadro rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    formControlName="pedido" [ngClass]="{ 'is-invalid':  form.pedido.errors }"   id="pedido" type="text" placeholder="Ingresa tu pedido" required></textarea> 
            </div>

          <div *ngIf="form.pedido.errors" class="invalid-deedback">
            <div *ngIf="form.pedido.errors.required"> <div class="alert alert-success d-flex align-items-center"  role="alert">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-octagon m-1 " viewBox="0 0 16 16">
                    <path d="M4.54.146A.5.5 0 0 1 4.893 0h6.214a.5.5 0 0 1 .353.146l4.394 4.394a.5.5 0 0 1 .146.353v6.214a.5.5 0 0 1-.146.353l-4.394 4.394a.5.5 0 0 1-.353.146H4.893a.5.5 0 0 1-.353-.146L.146 11.46A.5.5 0 0 1 0 11.107V4.893a.5.5 0 0 1 .146-.353L4.54.146zM5.1 1 1 5.1v5.8L5.1 15h5.8l4.1-4.1V5.1L10.9 1H5.1z"/>
                    <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                  </svg>
                <div>
                 Campo obligatorio
                </div>
              </div> </div>

            </div> 

            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2 d-flex fw-bold" for="name">
                    Detalle / algo para aclarar del pedido
                </label>
                <input
                    class="form-control shadow appearance-none cuadro border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    formControlName="detalle"   id="detalle" type="text" placeholder="Detalle no obligatorio" >
            </div>

         

            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2 d-flex fw-bold" for="name" >
                    Foram de pago
                </label> 
                
                <!-- <input
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    name="pago" id="pago" type="text" placeholder="Efectivo / MercadoPago" required> -->

                    <div class="form-check">
                        <input (click)="Efectivo()" class="form-check-input " type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
                        <label class="form-check-label" for="flexRadioDefault1">
                          Efectivo
                        </label>
                      </div>
                      <div class="form-check">
                        <input (click)="Transferencia()" class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" >
                        <label class="form-check-label" for="flexRadioDefault2">
                          Transferencia bancaria
                        </label>
                      </div>
                    
            </div>

            <div class="text-center">
                <button class="btn btn-primary" [disabled]="registerForm.invalid" (click)="onSumbit()">Finalizar pedido</button>
            </div>

          </form>

          <div *ngIf="pedidoListo">
            <div class="flex items-center justify-between ">

              <form  class="bg-white shadow-md rounded px-8 mt-4 pt-3 pb-3 mb-4 container-fluid ">
                <div class="mb-2">
                    <label class="block text-gray-700 text-sm font-bold  d-flex fw-bold " for="name">
                        Nombre y Apellido
                    </label>
                    <p class="text-gray-700 text-sm font-bold  d-flex ">{{registerForm.value.name}}</p>
                   
                </div>
        
                <div class="mb-2" *ngIf="delivery">
                    <label class="block text-gray-700 text-sm font-bold d-flex fw-bold" for="direccion">
                        Direccion
                    </label>
                    <p class="text-gray-700 text-sm font-bold  d-flex ">{{registerForm.value.direccion}}</p>
                  
                </div>

                <div class="mb-2" *ngIf="delivery == false">
                  <label class="block text-gray-700 text-sm font-bold d-flex fw-bold" for="direccion">
                      Take away
                  </label>
                  <p class="text-gray-700 text-sm font-bold  d-flex ">El cliente retira el pedido</p>
                
              </div>

                <div class="mb-2">
                    <label class="block text-gray-700 text-sm font-bold  d-flex fw-bold " for="name">
                        Telefono
                    </label>
                    <p class="text-gray-700 text-sm font-bold  d-flex ">{{registerForm.value.tel}}</p>
                   
                </div>

                <div class="mb-2">
                    <label class="block text-gray-700 text-sm font-bold  d-flex fw-bold" for="name">
                        Pedido
                    </label>
                    <p class="text-gray-700 text-sm font-bold  d-flex ">{{registerForm.value.pedido}}</p>
                   
                </div>      
    
                <div class="mb-2">
                    <label class="block text-gray-700 text-sm font-bold  d-flex fw-bold" for="name" >
                        Detalle
                    </label> 

                    <p class="text-gray-700 text-sm font-bold d-flex ">{{registerForm.value.detalle}}</p>
                    
                  
                </div>    

                <div class="mb-2">
                  <label class="block text-gray-700 text-sm font-bold  d-flex fw-bold" for="name" >
                      Forma de pago
                  </label> 

                  <p class="text-gray-700 text-sm font-bold d-flex ">{{formaDePago}}</p>
                  
                
              </div>   
              <div class="text-center">
                <button (click)="Edit()"
                class="m-1 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline btn btn-primary border"
                type="submit">
                <i class="fab fa-whatsapp"></i> Editar
              </button>
              
                <button (click)="Send()"
                    class="m-1 bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline btn btn-success border"
                    type="submit">
                    <i class="fab fa-whatsapp"></i> Enviar pedido
                </button>
            </div>
              </form>

            
            </div>
            

          </div>
        
          
</div>
</div>
</div>
</div>

