<div class="bg-wtsp">
    <div class="row container-fluid pt-3 pb-4 ">
        <div class="col container pt-3 d-flex justify-content-center ">
    
        <div class="w-full max-w-xs ">
            <p class="fs-2 text-center fw-bold text-warning fw-rapa pt-3">Carga de pedido</p>
    
            <div class="col  container-fluid text-center justify-content-center pb-2 " >
    
                         
              
              </div>
            
            <form  (ngSumbit)="onSumbit()" [formGroup]="formulario" id="form"  class="bg-white shadow-md rounded px-8 mt-4 pt-3 pb-3 mb-4 container-fluid ">
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2 d-flex fw-bold " for="name">
                        Producto
                    </label>
                    <input
                        class="form-control  shadow appearance-none cuadro border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        formControlName="name"  id="name" type="text" placeholder="Ingresa tu nombre" >
                </div>
    
               
    
              
    
               
                <div class="mb-4" >
                    <label class="block text-gray-700 text-sm font-bold mb-2 d-flex fw-bold" for="desc">
                       Descripcion
                    </label>
                    <input
                        class=" form-control shadow appearance-none border cuadro rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        formControlName="desc" id="dir" type="text" placeholder="Ingresa tu direccion">
                </div>
    
                 
             
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2 d-flex fw-bold " for="categoria">
                        Categoria
                    </label>
                    <input
                        class="form-control  shadow appearance-none cuadro border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        formControlName="categoria"  id="tel" type="text" placeholder="Ingresa tu telefono" >
               
                        <select formControlName="categoria" name="tipo" id="tipo">
                            <option value="Entrada">Entrada</option>
                            <option value="Papa">Papa</option>
                            <option value="Lomo">Lomo</option>
                            <option value="Pachata">Pachata</option>
                            <option value="Ensalada">Ensalada</option>
                            <option value="Miga">Miga</option>
                            <option value="Hamburguesa">Hamburguesa</option>
                            <option value="HamburguesaPaty">Hamburguesa paty</option>
                            <option value="MenuInfantil">Menu Infantil</option>
                            <option value="Pizza">Pizza</option>
                            <option value="Gaseosa">Gaseosa</option>
                            <option value="Cerveza">Cerveza</option>
                            <option value="Agregado">Agregado</option>                        
                        </select>
                    </div>
    
               
                
               
    
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2 d-flex fw-bold" for="precio">
                        Precio
                    </label>
                    
                    <input
                        class="form-control  shadow appearance-none cuadro border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        formControlName="precio"  id="tel" type="text" placeholder="Ingresa tu telefono" >
                </div>
                
    
                <div class="text-center">
                    <button class="btn btn-primary" (click)="onSumbit()">Cargar producto</button>
                </div>
    
              </form>
    
              
    
                
               
            
              
    </div>
    </div>
    </div>
    </div>
    
    