/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "carta";
    src: url(./assets/fonts/erasef-medium.otf);
}
@font-face {
    font-family: "carta2";
    src: url(./assets/fonts/eras-bold-itc.ttf);
}

@font-face {
    font-family: "Patron";
    src: url(./assets/fonts/Patron.otf);
}

@font-face {
    font-family: "Quantum";
    src: url(./assets/fonts/Quantum.otf);
}

@font-face {
    font-family: "BebasNeue";
    src: url(./assets/fonts/BebasNeue.otf);
}
$primary:#363636;
$danger:#747474;

.image-0{
    background-image: url(./assets/imagenes/Galeria/0.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50em;
    width: 100%;
    
}

.image-1{
    background-image: url(./assets/imagenes/Galeria/1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50em;
    width: 100%;
    
}

.image-2{
    background-image: url(./assets/imagenes/Galeria/2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50em;
    width: 100%;
    
}

.image-3{
    background-image: url(./assets/imagenes/Galeria/3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50em;
    width: 100%;
    
}

.image-4{
    background-image: url(./assets/imagenes/Galeria/4.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50em;
    width: 100%;
    
}

.image-5{
    background-image: url(./assets/imagenes/Galeria/5.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50em;
    width: 100%;
    
}

.image-6{
    background-image: url(./assets/imagenes/Galeria/6.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50em;
    width: 100%;
    
}

.image-7{
    background-image: url(./assets/imagenes/Galeria/7.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50em;
    width: 100%;
    
}

.img-red{
    width: 70px;
}

.image-map{
    background-image: url(./assets/logos/fondomapa.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    
    width: 100%;
    
    
}

.image-red{
    background-image: url(./assets/logos/fondoredes.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 22em;
    width: 100%;
    background-attachment: fixed;
}

.bg-carta{
    
    background-image: url(./assets/logos/carta.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    
    width: 100%;
    
    

}



.bg-wtsp{
    
    background-image: url(./assets/logos/wtsp.jpg);
    
    background-attachment: fixed;
    
   
    
    width: 100%;
    
    

}

.text-gray-700{
    color: rgb(88, 88, 88);
    font-size: 15px;
    width: 100%;
    
    
}

.cuadro{
    appearance: none;
    background-color: rgba(221, 246, 255, 0.719);
}





.bg-green-500{
    background-color: rgba(1, 190, 1, 0.733);
}

.f-rapa{
       font-family: "carta";
}

.fw-rapa{
    font-family: "carta2";
}

@media (max-width: 500px) { 
    
    .image-0{
        background-image: url(./assets/imagenes/Galeria/8.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 50em;
        width: 100%;
        
    }
    

    .img-red{
        width: 50px;
    }
   
}

@media (max-width: 330px) { 
    

    .img-red{
        width: 50px;
    }

    

    

    


   
}

@media (max-width: 500px) { 
    .prim{
font-size: 12px;
   }
   .jh{
       width: 45px;
   }
}

@media (max-width: 400px) { 
   .prim{
font-size: 10px;
   }
    .jh{
   width: 45px;
    }
  }


@import "../node_modules/bootstrap/scss/bootstrap";

