<body>
    <div class="row container-fluid justify-content-center space">
        <!-- IMAGENES -->

        <div class="col-12 text-center pb-3">
            <h1 style="font-family: Patron">GALERIA</h1>
                <h3>Carousel imagenes (pensar como sera)</h3>
                <img src="../../../../assets/imagenes/Nuevas/5.jpeg" width="35%" alt="">
        </div>

        <!-- CARTA -->
        <div class="col-12 text-center pt-3">
            <h1 style="font-family: Patron">SPACE BURGUER</h1>

            <img src="../../../../assets/imagenes/Space/space.png" class="carta" alt="">
        </div>

        
    </div>
</body>